<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:icon="@mipmap/ap_logo_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ap_logo_new_round"
        android:supportsRtl="true"
        android:theme="@style/myAppTheme"
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        tools:targetApi="34">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1241237715193709~8967418014" />


        <activity
            android:name=".kotlin.KotlinMainActivity" android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".kotlin.BroadCastReceiver.OnDownloadComplete"/>


        <activity android:name="com.google.android.gms.ads.AdActivity" />
    </application>

</manifest>